body {
  background-image: url('../../public/home-background.png');
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #a8d5ba;
    border-radius: 8px;
    background-color: #eaf7e9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .profile-title {
    font-size: 2rem;
    color: #4a7c59;
  }
  
  .profile-info {
    margin-bottom: 1rem;
    color: #666;
  }

  